PORT=3000
MONGO_URI=mongodb+srv://notevault:IPqSncT9VIH29xQA@cluster0.thj1mdd.mongodb.net/note-vault?appName=Cluster0
JWT_SECRET=f8afb4ce945d941130c2a181f580101611d8ecc2771f562903b0e200936dafe0
CLIENT_URL=http://localhost:5173,http://localhost:3000
NODE_ENV=development
